<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ww.busReg.dao.UimDao">
	<resultMap id="UimResultMap" type="com.ww.busReg.domain.Uim">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="cardNum" property="cardNum" jdbcType="VARCHAR" />
		<result column="uimNum" property="uimNum" jdbcType="VARCHAR" />
		<result column="cardPhotoFront" property="cardPhotoFront"
			jdbcType="VARCHAR" />
		<result column="cardPhotoBack" property="cardPhotoBack"
			jdbcType="VARCHAR" />
		<result column="userCardVoideo" property="userCardVoideo"
			jdbcType="VARCHAR" />
		<result column="userCardPhoto" property="userCardPhoto"
			jdbcType="VARCHAR" />
		<result column="insertTime" property="insertTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userName, cardNum,
		uimNum,cardPhotoFront,cardPhotoBack,userCardVoideo,userCardPhoto
	</sql>
	<insert id="insert" parameterType="com.ww.busReg.domain.Uim">
		insert into uim (
		<include refid="Base_Column_List" />
		)
		values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
		#{cardNum,jdbcType=VARCHAR},
		#{uimNum,jdbcType=VARCHAR},
		#{cardPhotoFront,jdbcType=VARCHAR}, #{cardPhotoBack,jdbcType=VARCHAR},
		#{userCardVoideo,jdbcType=VARCHAR}, #{userCardPhoto,jdbcType=VARCHAR})
	</insert>

	<select id="getFindCount" resultType="java.lang.Integer">
		select count(1) from uim 
		<where>
			<if test="userName != null">
				userName like #{userName,jdbcType=VARCHAR}
			</if>
			<if test="cardNum != null">
				and cardNum like #{cardNum,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="findForPage" resultMap="UimResultMap" >
		select <include refid="Base_Column_List" />,insertTime from uim 
		<where>
			<if test="userName != null">
				userName like #{userName,jdbcType=VARCHAR}
			</if>
			<if test="cardNum != null">
				and cardNum like #{cardNum,jdbcType=VARCHAR}
			</if>
		</where>
		limit #{startIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
	</select>
	
	
	
	
	
	
	
	
		
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user_t
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insertSelective" parameterType="com.ww.busReg.domain.User">
		insert into user_t
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="age != null">
				age,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ww.busReg.domain.User">
		update user_t
		<set>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				age = #{age,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ww.busReg.domain.User">
		update user_t
		set
		user_name = #{userName,jdbcType=VARCHAR},
		password =
		#{password,jdbcType=VARCHAR},
		age = #{age,jdbcType=INTEGER}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>